// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tasks {
	background-color: #929aab;
	color: #f2f4b2;
	font-family: 'Krub', sans-serif;
	padding: 30px;
}


a {
	text-decoration: none;
	color: #f2f4b2;
	font-family: 'Krub', sans-serif;
}


.task {
	background-color: #929aab;
	color: #f2f4b2;
	font-family: 'Krub', sans-serif;
	padding: 30px;
}

.add-link {
  color: #929aab;
  font-family: 'Krub', sans-serif;
}

